<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .jumbotron{background-image: url("../images/spacex.jpg"); height: 500px;}
      .jumbotron .container{position: relative; top: 100px; }
      .jumbotron h1{margin: 14px; padding:0px; border: 3px solid #ffffff; color: white; font-weight: bold; font-size: 48px;
      position: relative; top: 91px; left:55px;}
      .jumbotron p{margin: 14px; padding: 0px; color: #FFF; font-size: 20px; position: relative; top: 91px; left:55px;}
      .nav ul{display: inline;}
      .nav li{display: inline; padding-left: 20px; padding-right:20px;}
      .nav a{text-transform: uppercase; padding-top: 14px 10px 14px 10px; font-weight: bold;}
      .learn-more {background-color: #f7f7f7;}
      .learn-more h3{font-size: 18px; font-weight: bold; color: #00b0ff;}
      .neighbourhood-guides{background-color: #EFEFEF; border-bottom: 1px solid $dbdbdb;}
      .neighbourhood-guides h2 {color: #393c3d; font-size: 24px;}
      .neighbourhood-guides p {font-size: 15px; margin-bottom: 13px;}
    </style>
    <title>Alt Robert Portfolio</title>
  </head>
  <body>
    <div class = "nav">
      <div class = "container">
        <ul class = "pull-left">
          <li><a href = "/">Robert Yuen</a></li>
          <li><a href = "">Browse</a></li>
        </ul>
        <ul class = "pull-right">
          <li><a href = "">Sign Up</a></li>
          <li><a href = "">Login</a></li>
          <li><a href = "">Help</a></li>
        </ul>
      </div>
    </div>

    <div class = "jumbotron">
      <div class = "container">
        <h1>Welcome to my portfolio.</h1>
        <p>Stay a while and get comfortable.  I have cats and coffee.</p>
      </div>
    </div>

    <div class = "neighbourhood-guides">
      <div class = "container">

        <h2>Neighbourhood Guides</h2>
        <p>Not sure where to stay? We've created neighbourhood guides for cities all around the world.</p>

      </div>
    </div>

    <div class = "learn-more">
      <class = "container">
        <div class = "row">
          <div class = "col-md-4">
            <div class = "thumbnail"><img src = "../images/texteditor.png"></div>
            <h3>Software Development</h3>
            <p>From Front-End to Back-End, I can do it all.
            <p>
              <a href = "#">Checkout my variety of programming skills.</a>
            </p>
          </div>

          <div class = "col-md-4">
            <div class = "thumbnail"><img src = "../images/cmdline.png"></div>
            <h3>Personal Projects</h3>
            <p>Some of my previous spatterings of text.</p>
            <p>
              <a href = "#">Journ.ee</a>
            </p>
          </div>

          <div class = "col-md-4">
            <div class = "thumbnail"><img src = "../images/achievement.png"></div>
            <h3>Flair</h3>
            <p>Like from Office Space.  I like my badges.</p>
            <p><a href = "#">Achievements</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
