<!DOCTYPE html>
<html>
  <head>
    <title>
      Robert Yuen's Homepage
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class = "jumbotron">
      <p>welcome to robert's portfolio</p>
    </div>
      <div class = "row">
          <div class = "col-xs-6 col-md-4">
            <ul>
              <li>
                <a href = "">Slacker, chat with/without login</a>
              </li>
              <li>
                <a href = "">TwoPointFive, serendipitous blogging</a>
              </li>
              <li>
                <a href = "">Dasher, my personal dashboard</a>
              </li>
            </ul>
          </div>
          <div class = "col-xs-6 col-md-4">
            <p>Skills</p>
          </div>
          <div class = "col-xs-6 col-md-4">
            <p>Contact</p>
          </div>
        </div>
  </body>
</html>
